body{

    background-size:cover;
    background-color: #f0f0f0;
  }
div.container{
    margin-top:200px;
    background-color:rgb(28, 146, 243);
    width:50%;
    padding:5px;
    border-radius:20px;
    opacity: 0.8;
    transition-duration: 500ms;
    transition-property: opacity;
}

div.container:hover{
    opacity: 0.9;
}
div.container:active{
    opacity:1;
}
form{
    margin-top:30px;
}
  
h2{
    text-align:center;
}
  
.column{
    margin-top:15px;
    margin-bottom:15px;
}
  
#submit{
    cursor:default;
}
button{
    color: white;
    background-color: darkblue;
}