*{
    padding: 0px;
    margin: 0px;
}
body{
    text-align: center;
    background-color: #f0f0f0;
    background-image: url('<?=base_url();?>assets/img/filkom.png ');
    background-size: cover;
    background-repeat: repeat;
    overflow: auto;
}
#kontainer {
    height: 1000px;
    width: 100%;
    margin: 0 auto;
    margin: 20px;
    margin-top: 60px;

}
#Selamat{
    font-family: monospace;
    background:linear-gradient(45deg, #08AADB, #f07328);
    background-clip: text;
    width: 100%;
    padding: 5px;
    
}
#Tulisan {
    font-family: monospace;
    color: white;
    background: -webkit-linear-gradient(45deg, #f8f54f, #61fcda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
#pasangan{
    /* text-transform: uppercase; */
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    
}
.container  h3{
    padding: 30px;
    color: white;
    font-family: cursive;
    font-size: 30px;
    background: -webkit-linear-gradient(45deg, #ededee, #f52004);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
#databem{
    margin-top:0px;
    background-color:rgb(163, 163, 163);
    width:40%;
    padding:15px;
    border-radius:20px;
    opacity: 0.8;
    transition-duration: 500ms;
    transition-property: opacity;
    top: 50%;
	left: 50%;
}
#databem:hover{
    opacity: 0.8;
}
#databem:active{
    opacity:1;
}  
h2{
    text-align:center;
}
  
.column{
    margin-top:10px;
    margin-bottom:10px;
}

button{
    color: white;
    background-color: darkblue;
}
.box{
    display: inline-block;
    margin-left: 30px;
}
.footer{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: #333;
    color: #fff;
    margin-top: 50px;
}
.footer:hover{
    opacity: 0.5;
}
#submit{
    margin-top: 40px;
}
#prodi{
    color: white;
    font-family: monospace;
    font-size: 20px;
      
}
#log{
    font-family:monospace;
    font-size: 50px;
    text-align: center;
    margin-top: 120px;
    weight: 30px;
    background: -webkit-linear-gradient(45deg, #f8f54f, #61fcda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}












